{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egi's Personal Blog</title>
    <link rel="stylesheet" href="{% static 'css/blogstyle.css' %}">
</head>
<div class="bar">
    <div class="egi">EGI NS</div>
    <a href="{% url 'home' %}" id="home">HOME</a>
    <a href="/blog/" id="blog">BLOG</a>
</div>
<div class="header">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#29445d" fill-opacity="1" d="M0,224L40,229.3C80,235,160,245,240,250.7C320,256,400,256,480,234.7C560,213,640,171,720,154.7C800,139,880,149,960,170.7C1040,192,1120,224,1200,224C1280,224,1360,192,1400,176L1440,160L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg>
        
</div>
<body>

    {% for isi in tulisan %}

        <a href="/blog/{{ isi.id }}"><div class="artikel cf">
            <img src="{{isi.gambar.url}}" />
            <h2>{{isi.judul}}</h2>
            <h5>By : {{isi.penulis}} <br>
                <span id='waktu'>{{isi.waktu}}</span></h5>
            <p>{{isi.ringkasan}} </p>
        </div></a>

    {% endfor %}

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#29445d" fill-opacity="1" d="M0,224L40,229.3C80,235,160,245,240,250.7C320,256,400,256,480,234.7C560,213,640,171,720,154.7C800,139,880,149,960,170.7C1040,192,1120,224,1200,224C1280,224,1360,192,1400,176L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>

    <div class="contact">
        <p>CONNECT WITH ME</p>
        <a href="https://www.instagram.com/egi_ns27" target="_blank"><img src="../../static/image/ig.png" alt="Instagram"></a>
        <a href="https://www.linkedin.com/in/eginawwarsukma/" target="_blank"><img src="../../static/image/linkedin.png" alt="Linkedin"></a>
        <div class="unsplash">IMAGES : <a href="https://www.unsplash.com" target="_blank">UNSPLASH.COM</a></div>
    </div>

</body>
</html>

    
